{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our shop...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">
                    Son môi là một sản phẩm làm đẹp không thể thiếu trong túi đồ trang điểm của phụ nữ. Được sử dụng để
                    tô màu và làm đẹp cho đôi môi, son môi có nhiều loại, từ son lỏng đến son thỏi và son dạng bút.
                    <br /><br />
                    Thành phần chính:

                    Pigment: Đây là thành phần chính quyết định màu sắc của son. Pigment có thể là tự nhiên hoặc tổng
                    hợp.
                    Dầu và sáp: Dầu và sáp giúp tạo độ ẩm cho đôi môi và giữ màu son lâu hơn.
                    Chất làm đặc: Chất này giúp son có độ nhớt và độ bám dính.
                    <br /><br />
                    Công dụng:

                    Tạo màu sắc cho đôi môi: Son môi có thể tạo ra các gam màu đa dạng để phù hợp với nhiều phong cách
                    trang điểm khác nhau.
                    Dưỡng ẩm cho đôi môi: Nhiều loại son môi chứa các thành phần dưỡng ẩm giúp làm mềm và dưỡng ẩm cho
                    đôi môi.
                    Tạo hiệu ứng khối: Bằng cách sử dụng son môi có màu sáng và tối kết hợp, bạn có thể tạo ra hiệu ứng
                    khối cho đôi môi, làm cho đôi môi trở nên đầy đặn và quyến rũ hơn.
                    <br /><br />
                    Các loại son môi:

                    Son lỏng: Có dạng chất lỏng và thường có độ bám dính cao.
                    Son thỏi: Có dạng hình trụ và dễ dàng sử dụng.
                    Son dạng bút: Được thiết kế để dễ dàng tô môi và tạo các đường viền sắc nét.
                    <br /><br />
                    Cách sử dụng:

                    Trước khi sử dụng son môi, bạn nên chuẩn bị đôi môi bằng cách tẩy tế bào chết và sử dụng dưỡng môi.
                    Sau đó, bạn có thể sử dụng bút kẻ viền môi để tạo ra đường viền và sau đó tô son môi.
                    Nếu muốn son màu sắc rõ nét và bền màu hơn, bạn nên sử dụng cọ son môi.
                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>

{% endblock %}